<!-- The Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="onCloseModal()">&times;</button>
        </div>
        <div class="modal-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>