<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">QUẢN LÝ ĐƠN HÀNG</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Đơn hàng</th>
                                <th>Tổng tiền</th>
                                <th>Ngày đặt</th>
                                <th>Thanh toán</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td>{{ order.orderID }} - {{ order.recipientName }}</td>
                                <td>{{ order.purchaseAmount | currency:'VND'}} </td>
                                <td>{{ order.orderDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td>
                                    <span>{{ order.payment_method}} - </span>
                                    <span *ngIf=" order.paid === 0" class="text-success">đã thanh toán</span>
                                    <span *ngIf=" order.paid === -1" class="text-danger">chưa thanh toán</span>
                                    <span *ngIf=" order.paid === -2" class="text-warning">đang chờ giao dịch</span>
                                    <span *ngIf=" order.paid === -3" class="text-warning">giao dịch thất bại</span>
                                </td>
                                <td class="template-demo">
                                    <button (click)="onViewOrder(order)" class="btn btn-warning" type="button"><i class="fa fa-eye"></i>Chi tiết</button>
                                    <button *ngIf=" order.paid !== 0" (click)="confirmOrder(order.orderID)" class="btn btn-info" type="button"><i class="fa fa-check-square-o"></i>Xác nhận</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-dialog [id]=(idOrderModal) [title]="'Chi tiết đơn hàng'" class="modal" (closeModalRequest)="closeModal($event)">
    <app-order-detail [setDataForOrderdetail]="orderDetail"></app-order-detail>
</app-modal-dialog>