<form [formGroup]="productForm" method="post" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="productName">Tên sản phẩm:</label>
        <input type="text" class="form-control" id="productName" placeholder="Tên sản phẩm" formControlName="productName">
    </div>
    <div class="form-group">
        <label for="quantity">Số lượng:</label>
        <input class="form-control" type="number" id="quantity" formControlName="quantity" placeholder="Số lượng">
    </div>
    <div class="form-group">
        <label for="price">Giá:</label>
        <input class="form-control" type="number" id="price" formControlName="price" placeholder="Giá">
    </div>
    <div class="form-group">
        <label>Ngày mở bán:</label>
        <input type="date" class="form-control" formControlName="openingForSale" placeholder="Ngày mở bán">
    </div>
    <div class="form-group">
        <label for="brandName">Hãng:</label>
        <select id="brandName" formControlName="brand" class="form-control">
            <option *ngFor="let brand of brands" [ngValue]="brand" [selected]="brand.brandID == brandIDSelected">{{brand.brandName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="categoryName">Danh mục:</label>
        <select id="categoryName" formControlName="category" class="form-control">
            <option *ngFor="let category of categorys" [ngValue]="category" [selected]="category.categoryID == categoryIDSelected">{{category.categoryName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="categoryName">Xuất xứ:</label>
        <select id="categoryName" formControlName="origin" class="form-control">
            <option *ngFor="let origin of origins" [ngValue]="origin">{{origin}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Ảnh:</label>
        <input type="file" (change)="onFileSelected($event)" id="file" name="file" class="form-control-file border">
    </div>
    <img [src]="avatar_src" alt="" class="img-frame-preview">
    <div class="form-group">
        <button class="btn btn-primary float-right">{{buttonName}}</button>
    </div>
</form>