<div *ngIf="order != null" class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div>Mã đơn hàng: <span class="text-info">{{ order.orderID }}</span></div>
                <div>Tên người nhận: {{ order.recipientName }}</div>
                <div>Địa chỉ: {{ order.shipAddress }}</div>
                <div>Số điện thoại: {{ order.phone }}</div>
                <div>Tổng tiền: <span class="text-danger">{{ order.purchaseAmount | currency:'VND'}}</span></div>
                <div>Ngày đặt: {{ order.orderDate | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
                <div>Hình thức thanh toán: <span class="text-warning">{{ order.payment_method}}</span></div>
                <div>Tình trạng thanh toán:
                    <span *ngIf=" order.paid === 0" class="text-success">đã thanh toán</span>
                    <span *ngIf=" order.paid === -1" class="text-danger">chưa thanh toán</span>
                    <span *ngIf=" order.paid === -2" class="text-warning">đang chờ giao dịch</span>
                    <span *ngIf=" order.paid === -3" class="text-warning">giao dịch thất bại</span>
                </div>
                <div>Danh sách sản phẩm: </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Số lượng mua</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let orderdetail of order.orderDetailsList">
                                <td class="py-1">{{ orderdetail.product.productID }}</td>
                                <td>{{ orderdetail.product.productName }}</td>
                                <td><img class="img-frame" src="{{ BASE_URL + '/' + orderdetail.product.imageUrl }}"></td>
                                <td>{{ orderdetail.amount }}</td>
                                <td>{{ orderdetail.price | currency:'VND'}} </td>
                                <td>{{ orderdetail.amount * orderdetail.price | currency:'VND' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>