<!-- <div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <h3 class="text-center text-info">Đăng nhập</h3>
                <div class="form-group">
                    <label for="username" class="text-info">Tên đăng nhập:</label><br>
                    <input type="text" name="username" [(ngModel)]="form.username" #username="ngModel" class="form-control" required>
                    <div class="text-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">Không được để trống!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="text-info">Mật khẩu:</label><br>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6">
                    <div class="text-danger" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Không được để trống!</div>
                        <div *ngIf="password.errors.minlength">Mật khẩu ít nhất 6 ký tự!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="remember-me" class="text-info"><span>Lưu mật khẩu</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                    <button name="submit" class="btn btn-info btn-md">Đăng nhập</button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                        Đăng nhập thất bại!
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="card card-container">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Đăng nhập thất bại!
        </div>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form id="login-form" class="form-signin" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <span id="reauth-email" class="reauth-email"></span>
            <input name="username" [(ngModel)]="form.username" #username="ngModel" type="text" id="inputEmail" class="form-control" placeholder="Tên đăng nhập" required autofocus>
            <div class="text-danger" *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Không được để trống!</div>
            </div>
            <input name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu">
            <div class="text-danger" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Không được để trống!</div>
                <div *ngIf="password.errors.minlength">Mật khẩu ít nhất 6 ký tự!</div>
            </div>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> nhớ mật khẩu
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đăng nhập</button>
        </form>
        <a href="#" class="forgot-password">
                Quên mật khẩu?
        </a>
    </div>
</div>