<div class="container-scroller">
    <div *ngIf="tokenStorage.getToken()">
        <app-navbar></app-navbar>
    </div>
    <div class="container-fluid page-body-wrapper">
        <div *ngIf="tokenStorage.getToken()">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main-panel" style="margin: 0 auto;">
            <div>
                <router-outlet></router-outlet>
            </div>
            <div *ngIf="tokenStorage.getToken()">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>