<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="assets/images/faces/face1.jpg" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">{{username}}</p>
                        <div>
                            <small class="designation text-muted">Manager</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Tổng quan</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/forms" routerLinkActive="active">
                <i class="menu-icon mdi mdi-notification-clear-all"></i>
                <span class="menu-title">Quản lý danh mục</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/productManage" routerLinkActive="active">
                <i class="menu-icon fa fa-cube"></i>
                <span class="menu-title">Quản lý sản phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/orderManage" routerLinkActive="active">
                <i class="menu-icon mdi mdi-receipt"></i>
                <span class="menu-title">Quản lý đơn hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">
                <i class="menu-icon mdi mdi-account"></i>
                <span class="menu-title">Quản lý tài khoản</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">
                <i class="menu-icon mdi mdi-page-layout-body"></i>
                <span class="menu-title">Quản lý bài đăng</span>
            </a>
        </li>
    </ul>
</nav>