<ul *ngIf="pager.pages && pager.pages?.length" class="pagination">
    <li class="page-item" [ngClass]="{hide:pager.currentPage === 0}">
        <a class="page-link" (click)="setPage(0)">Trang đầu</a>
    </li>
    <li class="page-item" [ngClass]="{hide:pager.currentPage === 0}">
        <a class="page-link" (click)="setPage(pager.currentPage-1)">Trước</a>
    </li>
    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{'active disable':pager.currentPage === page-1}">
        <a class="page-link" (click)="setPage(page-1)">{{page}}</a>
    </li>
    <li class="page-item disabled" [ngClass]="{hide:pager.totalPages - 1 < 5 || pager.currentPage > pager.totalPages-3}">
        <a class="page-link">...</a>
    </li>
    <li class="page-item" [ngClass]="{hide:pager.currentPage === pager.totalPages-1}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Tiếp</a>
    </li>
    <li class="page-item" [ngClass]="{hide:pager.currentPage === pager.totalPages-1}">
        <a class="page-link" (click)="setPage(pager.totalPages-1)">Trang cuối</a>
    </li>
</ul>