<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="card-title">QUẢN LÝ SẢN PHẨM</h2>
                    </div>
                    <div class="col-md-2">
                        <button (click)="openModal(idAddModal)" class="btn btn-primary"><i class="mdi mdi-plus"></i>Thêm mới</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td>{{ product.productID }} - {{ product.productName }}</td>
                                <td><img class="img-frame" src="{{ BASE_URL + '/' + product.imageUrl }}"></td>
                                <td>{{ product.price | currency:"VND"}}</td>
                                <td>{{ product.quantity }}</td>
                                <td class="template-demo">
                                    <button (click)="onEditProduct(product)" class="btn btn-warning" type="button"><i class="fa fa-edit"></i>Sửa</button>
                                    <button (click)="deleteProduct(product)" class="btn btn-info" type="button"><i class="mdi mdi-delete"></i>Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <app-pagination [changedResultSearch]="changedResultSearch" [totalItems]=(totalItems) (changePage)="pageChanged($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>
<app-modal-dialog [id]=(idAddModal) [title]="'Thêm mới sản phẩm'" class="modal" (closeModalRequest)="closeModal($event)">
    <app-add-product [buttonName]="'Thêm'" (addProductRequest)="addProduct($event)"></app-add-product>
</app-modal-dialog>
<app-modal-dialog [id]=(idEditModal) [title]="'Sửa thông tin sản phẩm'" class="modal" (closeModalRequest)="closeModal($event)">
    <app-add-product [buttonName]="'Lưu'" [setDataForProductForm]="product" (editProductRequest)="editProduct($event)">
    </app-add-product>
</app-modal-dialog>